@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap");
:root {
  --color-primary: #ffc107;
  --color-primary-light: #ffd54f;
  --color-primary-dark: #ffa000;
  --color-accent: #ff5252;
  --color-white: #ffffff;
  --color-text: #212121;
  --color-text-secondary: #757575;
  --color-divider: #bdbdbd;
  --sec-header-padding: .5rem;
  --card-margin: 1rem;
  --agenda-padding: .75rem;
}

body {
  color: var(--color-text);
  font-size: 100%;
  font-family: "Quicksand", "Zen Maru Gothic", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 1.6;
}

a:hover {
  opacity: 0.5;
}

.wrapper {
  position: relative;
}

.main {
  margin: 0 auto;
  width: 100%;
}

/* section */
.section {
  margin: 0 auto;
  padding: 1rem var(--sec-header-padding);
}
.section-module {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--sec-header-padding);
}
.section-module__header {
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.3;
}

/* list format change */
.list-format {
  display: flex;
  align-items: center;
  line-height: 1;
}
.list-format li:first-child {
  padding-right: 0.5em;
}
.list-format li:not(:first-child) {
  padding-left: 0.5em;
  border-left: 1px solid #999999;
}

.list-format__button {
  padding: 0;
  background-color: transparent;
  font-size: 1rem;
}

.material-icons-round.list-format__icon {
  color: var(--color-divider);
  font-size: 1.75em;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* list-item */
.list-item__thumb {
  position: relative;
  display: flex;
  background: #cccccc;
  aspect-ratio: 16/9;
}
.list-item__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-item__title {
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: 0.875rem;
}
.list-item__meta {
  color: var(--color-text-secondary);
  font-size: 0.75em;
}
.list-item__meta .list-item__category {
  margin-left: -0.375em;
}
.list-item__meta span:not(:last-of-type)::after {
  display: inline;
  content: "・";
}

.card-list .list-item {
  margin-top: var(--card-margin);
  padding: 0 var(--sec-header-padding);
  width: 50%;
}
.card-list .list-item__thumb {
  margin-bottom: 0.25rem;
}

.agenda-list {
  padding: 0 var(--sec-header-padding);
}
.agenda-list .list-item {
  display: flex;
  align-items: flex-start;
  padding: var(--agenda-padding) 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.agenda-list .list-item__thumb {
  margin-right: var(--agenda-padding);
  width: 33%;
}
.agenda-list .list-item__body {
  flex: 1;
}

/* button */
.primary-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 2em;
  width: -moz-fit-content;
  width: fit-content;
  height: 44px;
  border: 1px solid #999999;
  border-radius: 22px;
  font-weight: bold;
  font-size: 14px;
}
.primary-button__icon {
  position: absolute;
  top: 10px;
  right: 8px;
  display: inline-block;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 2em;
  width: -moz-fit-content;
  width: fit-content;
  height: 44px;
  border: 1px solid var(--color-accent);
  border-radius: 22px;
  color: var(--color-accent);
  font-weight: bold;
  font-size: 13px;
}

.more-button {
  margin: 1.825em auto 0;
  padding: 0 5em 0 4.5em;
  height: 44px;
}

/* global-header */
.global-header {
  border-bottom: 3px solid var(--color-primary);
}
.global-header__site-id img {
  width: auto;
  height: 42px;
  vertical-align: middle;
}
.global-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  height: 56px;
}
.global-header__module {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-button {
  display: flex;
  align-items: center;
}

.global-header__icon {
  vertical-align: middle;
  font-size: 2em;
}

.global-nav {
  position: absolute;
  top: 59px;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  background-color: #ffffff;
}
.global-nav__list-item {
  border-bottom: 1px #cccccc solid;
}
.global-nav__list-item a {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
}

/* modal */
.layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.modal {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5vw;
  max-width: 800px;
  width: 90vw;
  border-radius: 10px;
  background-color: #ffffff;
  pointer-events: none;
}
.modal__close {
  padding: 0;
  width: 1em;
  border: none;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 2.5em;
  line-height: 1;
}

.search-modal__inner {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 5%;
  transform: translate(-50%, 0);
}

.search__inner {
  display: flex;
  width: 100%;
}
.search__input {
  box-sizing: border-box;
  margin: 0;
  padding: 0.125em 0.5em 0.25em 0.5em;
  width: calc(100% - 4rem);
  border-top: 1px solid #efedea;
  border-right: none;
  border-bottom: 1px solid #efedea;
  border-left: 1px solid #efedea;
  border-radius: 5px 0 0 5px;
  background-color: #faf9f8;
  font-size: 1rem;
  line-height: 1.825;
  pointer-events: auto;
}
.search__button {
  box-sizing: border-box;
  margin: 0;
  width: 4rem;
  border: none;
  border: 1px solid var(--color-primary);
  border-radius: 0 5px 5px 0;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  font-weight: 600;
  font-size: 0.825rem;
  pointer-events: auto;
}
.search__heading {
  margin: 0.75em 0 0.25em;
  font-weight: 600;
  font-size: 1rem;
}
.search__tag {
  display: inline-block;
}
.search__tag input {
  display: none;
}
.search__tag label {
  display: inline-block;
  margin: 0.25em 0;
  padding: 0 1em;
  border: 1px solid #666666;
  border-radius: 1em;
  font-size: 0.75em;
  line-height: 2;
}
.search__tag label::before {
  display: inline;
  content: "#";
}
.search__tag input[type=checkbox]:checked ~ label {
  border: none;
  background-color: #333333;
  color: #ffffff;
}

footer {
  padding: 1rem 0;
}
footer .copyright {
  text-align: center;
  font-size: 0.75em;
}

/* 検索結果 */
.search-result__form {
  margin: 0 0 1.5rem;
  padding: 0 var(--sec-header-padding);
}
.search-result__header {
  text-transform: none;
}

.no-result {
  margin: 2rem 0;
  padding: 0 var(--sec-header-padding);
}

@media screen and (min-width: 576px) {
  /* section */
  .section {
    padding: 2.25rem 0;
  }
  .section-module__header {
    font-size: 1.5rem;
  }
  .list-item__title {
    font-weight: bold;
    font-size: 1rem;
  }
  .list-item__meta {
    color: var(--color-text-secondary);
    font-size: 0.825rem;
  }
  .more-button {
    margin: 2.25em auto;
    height: 48px;
    border-radius: 28px;
    font-size: 1rem;
  }
  /* modal */
  .search__heading {
    font-size: 1.125rem;
  }
  /* search */
  .search__input {
    padding: 0.25em 0 0.375em 0.625em;
    font-size: 1.125rem;
  }
  .search__button {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --sec-header-padding: .625rem;
    --card-margin: 1.25rem;
    --agenda-padding: 1.25rem;
  }
  /* section */
  .section {
    padding: 2.66rem 0;
  }
  .section__inner {
    margin: 0 auto;
    max-width: 720px;
  }
  .section-module__header {
    font-size: 1.625rem;
  }
  /* list-item */
  .list-item__title {
    font-weight: bold;
    font-size: 1.125rem;
  }
  .card-list .list-item {
    margin-top: var(--card-margin);
    padding: 0 var(--sec-header-padding);
    width: 50%;
  }
  .card-list .list-item__thumb {
    margin-bottom: 0.5rem;
  }
  .agenda-list {
    padding: 0;
  }
  .agenda-list .list-item {
    margin: 0 var(--sec-header-padding);
    padding: var(--agenda-padding) 0;
    width: calc(50% - var(--sec-header-padding) * 2);
  }
  .more-button {
    margin: 2.66em auto 0;
  }
  /* global-header */
  .global-nav {
    position: static;
    z-index: 1;
    display: block;
    width: auto;
    background-color: transparent;
  }
  .global-nav__list-item {
    display: inline-block;
    padding: 0 1rem;
    border-bottom: none;
  }
  .nav-toggler {
    display: none;
  }
  /* 検索結果 */
  .search-result__form {
    margin: 0 0 2.66rem;
  }
}
@media screen and (min-width: 992px) {
  .section__inner {
    max-width: 960px;
  }
  .list-item__title {
    font-weight: bold;
    font-size: 1.125rem;
  }
  .card-list .list-item {
    width: 33.33333333%;
  }
}
/*# sourceMappingURL=style.css.map */